/***************************************************
*
* My Bookmarks Stylesheet
*
* Indigo				: #3f51b5
* White 				: #fff
* Indigo (dark)			: #303f9f
* Light Blue			: #c5cae9
* Pink					: #ff4081
* Gray (dark)			: #212121
* Gray (medium)			: #727272
* Gray (light)			: #b6b6b6
***************************************************/

/-------------------------------------------------
*     Base
-------------------------------------------------*/

body {

}

h1, h1, h2, h3, h4, h5, h6 {

}

p {

}

ol {

}

li {

}

a {

}

/-------------------------------------------------
*     Hero
-------------------------------------------------*/

.hero P{
background-color: #3f51b5
color; #fff;
padding: 20px 0;
text-align: centre;
}

/-------------------------------------------------
*     Logo
-------------------------------------------------*/

.logo {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

/-------------------------------------------------
*     News
-------------------------------------------------*/
.news-item {
border-bottom: 1px solid #b6b6b6;
margin-bottom: 20px;
padding-bottom: 20px;
}

.news-link {

}

/-------------------------------------------------
*     
-------------------------------------------------*/


